# build output
out
.next

# dependencies
node_modules
yarn.lock
!/yarn.lock

# logs & pids
*.log
pids

# coverage
.nyc_output
coverage

# test output

.DS_Store

# Editors
.idea
.vscode

# Vercel
.vercel
.now