/*=== ATOMS ===*/
/* RESET */
html {
	height: 100%;
}
body {
	margin: 0;
	min-height: 100%;
}

/* TYPOGRAPHY */
body, button {
	font-family: "Merriweather", georgia, times, serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.45;
	color: #454040;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1.414em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}
p { 
margin: 0 0 1.3em;
}

h1 {
	margin-top: 0;
	font-size: 2.441em;
}
h2 {font-size: 1.953em;}
h3 {font-size: 1.563em;}
h4 {font-size: 1.25em;}
small {font-size: 0.8em;}

@media (min-width: 759px) {
	h1 {font-size: 3.157em;}
	h2 {font-size: 2.369em;}
	h3 {font-size: 1.777em;}
	h4 {font-size: 1.333em;}
	small {font-size: 0.75em;}
}

/* Lists */
ul, ol {
	padding-left: 0.9em;
	text-indent: -0.5em;
}
ul {
	list-style: none;
}
ul > li::before {
	content: "\0203A";
	display: inline-block;
	margin-right: 0.4em;
	font-weight: 400;
}
li {
	margin-bottom: 0.7em;
}

/* Buttons */
a {
	color: inherit;
	text-decoration: none;
	text-shadow: 1px 0 0 #FFF;
	box-shadow: inset 0 -1px 0 #FFF, inset 0 -2px 0 #1DB0C8;
}

button {
	font-size: 1em;

	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	color: #1DB0C8;
}

a:hover {
	box-shadow: inset 0 -1px 0 #FFF, inset 0 -3px 0 #1DB0C8;
}

a:active, a:focus,
button:active, button:focus {
	outline-width: 1px;
	outline-color: #1DB0C8;
	outline-style: dotted;
}

.button {
	display: inline-block;
	padding: 0.5em 1.1em;
	border: 1px solid;
	color: #1DB0C8;
	box-shadow: none;
	text-shadow: none;
}

.button:hover {
	background: #1DB0C8;
	color: #FFF;
	box-shadow: none;
}

/* NAVIGATION */
nav > ul {
	list-style: none;
	padding: 0;
}
@media (min-width: 769px) {
	nav > ul {
	display: flex;
	}
}

nav > ul > li {
	margin-right: 2em;
	margin-bottom: 1.2em;
}
nav > ul > li::before {
	content: "";
	display: none;
}

/* LOGO */
.logo {
	font-size: 1.3em;
	display: inline-block;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-top: 0.5em;
}
@media (min-width: 769px) {
	.logo {
		margin-top: 0;
	}
}
.logo__accent {
	color: #1DB0C8;
}

/* ANIMATION */
.animation {
	animation-duration: 1000ms;
	animation-timing-function: cubic-bezier(0.04, 0.13, 0.16, 0.99);
	animation-fill-mode: both;
}

.animation--slide-over {
	opacity: 0;
	transform: translateX(-6rem);
	animation-name: slide-over; 
}
.animation--slide-back {
	opacity: 0;
	transform: translateX(6rem);
	animation-name: slide-back; 
}
.animation--delay-1 {
	animation-delay: 300ms;
}
.animation--delay-2 {
	animation-delay: 600ms;
}
.animation--delay-3 {
	animation-delay: 900ms;
}

@keyframes slide-over {
	from {
		opacity: 0;
		transform: translateX(-6rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes slide-back {
	from {
		opacity: 0;
		transform: translateX(6rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}


/*=== MOLECULES ===*/
/* HEADER */
.header {
	margin: 0 auto 3em;
	padding: 0.5em 0;
	border-bottom: 1px solid #168698;
}

@media (min-width: 769px) {
	.header {
		padding: 1.3em 0;
	}
}
/* CONTAINER */
.container {
	max-width: 54em;
	margin: auto;
	padding: 0 1.6em 1.5em;
}

/* NAVIGATION */
.navigation--header {
	clear: both;
	position: relative;
	z-index: 1;
}
.navigation--header ul {
	box-sizing: border-box;
	overflow: hidden;
	height: 0;
	text-indent: 0;
	margin: 0;
	transition: height 300ms ease-in-out;
}
.navigation--header li {
	box-sizing: border-box;
	display: inline-block;
	margin-right: 2em;
	margin-bottom: 0;
	padding: 1em 0;
}

.navigation__button {
	float: right;
	height: 3em;
	overflow: hidden;
	width: 3em;
	text-indent: -9999em;
	position: relative;
	z-index: 1;
}
.navigation__button::before {
	content: "\02261";
	display: table-cell;
	height: 100%;
	width: 100%;

	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;

	font-size: 3em;
	line-height: 0.85;
	text-indent: 0;

	color: #1DB0C8;
}

@media (min-width: 769px) {
	.navigation__button {
		display: none;
	}
	.navigation--header {
		float: right;
		display: block;
	}
	.navigation--header ul {
		overflow: visible;
		height: auto;
	}
	.navigation--header li {
		padding: 0;
		margin-left: 2em;
		margin-right: 0;
	}
}

/*=== ORGANISMS ===*/
/* INTRO */
.intro {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (min-width: 769px) {
	.intro__name {
		margin-bottom: 0.2em;
	}
}

/* ABOUT */
.about__content {
	max-width: none;
}

.about__image {
	display: none;
}

@media (min-width: 769px) {
	.about__content {
		max-width: 35em;
	}
	.about__image {
		display: block;
		width: 17em;;
		float: right;
		margin-left: 2em;
		margin-bottom: 1em;
	}
}

/* PROJECTS */
.projects__list {
	list-style: none;
	text-indent: 0;
	padding: 0;
}
.projects__item {
	border-bottom: 1px dotted hsla(188, 50%, 60%, 1);
	margin: 0;
}
.projects__item::before {
	content: "";
	display: none;
}
.projects__item:first-of-type {
	border-top: 1px dotted hsla(188, 50%, 60%, 1);
}
.projects__link {
	display: block;
	padding: 0.8em 0;

	font-size: 1.25em;

	text-shadow: none;
	box-shadow: none;
}

.projects__link:hover {
	background-color: rgba(29, 178, 201, 0.15);
	box-shadow: none;
}
@media (min-width: 769px) {
	.projects__link {
		transition: padding 250ms ease-in-out, background-color 250ms ease-in-out;
	}
	.projects__link:hover {
		padding: 0.8em;
	}

}

/*PROJECT*/
.project__images {
	margin: 4em 0;
	text-align: center;
}
.project__images img {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	width: calc(100% / 3 - 4%);
	margin: 0 1.2%;
	opacity: 0.9;
	vertical-align: middle;
}
.project__images img:only-child {
	width: 60%;
	max-width: 100%;
	margin: -3em 0;
	opacity: 1;
}
.project__images img:nth-child(2n) {
	margin: 0 -1em;
	position: relative;
	z-index: 1;
	opacity: 1;
	transform: scale(1.3);
}
.project__navigation {
	text-align: center;
}
.project__link:not(:last-child) {
	display: inline-block;
	margin-right: 1em;
}
.project__next {
	margin-top: 1.3em;
}

@media (min-width: 769px) {
	.project__images {
		margin: 5em 0 8em;
	}
	.project__navigation {
		font-size: 1.2em;
		text-align: inherit;
	}
	.project__content {
		max-width: 33em;
		margin-right: 3em;
		margin-bottom: 3em;
		float: left;
	}
	.project__aside {
		box-sizing: border-box;
		max-width: 17em;
		margin-top: 0.9em;
		float: left;
		padding: 0.8em;
	}
}

/* JS */
.nojs .navigation__button {
	display: none;
}
.nojs .navigation ul {
	height: auto;
}
