<%- include('partials/header'); %>
  <div class="about container">
    <%- include('partials/nav'); %>
    <h1><%= title %>.</h1>
    <img src="/public/imgs/diego_hernandez_sm.jpg" class="about__image" alt="">
    <div class="about__content animation">
      <p>I enjoy coding and design. I currently work at Spiceworks where I surround myself with very talented people to develop digital advertising experiences for companies like Microsoft, Lenovo, and HP. I use mostly front-end web technology to create these experiences as well as design tools and a little bit of back-end elbow grease to polish everything off.</p>
      <p>I enjoy helping my local community using the skills that I have. This includes the Budget in a Box application for the City of Austin and context notes for Austin EcoNetwork. I also think it's important to give back to the tech community. I've presented on exciting tools like design patterns and <a href="http://cuyaproductions.github.io/sass-color-functions/presentation/#/" target="_blank">Sass color functions</a> at Spiceworks and to groups like Sass ATX and Open Austin.</p>
      <p>In my time off, when I'm not coding away on a personal or volunteer project, you'll often find me hiking or exploring delicious food around Austin, TX.</p>
      <p>If you want to know what I'm up to and things I find interesting please follow me on <a href="https://twitter.com/CuyaProductions" target="_blank">Twitter</a>. See some of my projects on <a href="../projects">here</a> and on <a href="https://github.com/cuyaproductions" target="_blank">Github</a>. To learn more about my professional journey look me up on <a href="https://www.linkedin.com/in/diegoahernandez" target="_blank">LinkedIn</a>. Also check out my random code experiments on <a href="http://codepen.io/cuyaproductions/" target="_blank">CodePen</a>.</p>
      <p>Nice to meet you!</p>
    </div>
  </div>
<%- include('partials/footer'); %>