<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>Diego Hernandez - Front-end Developer &amp; Designer</title>
	<link href="https://fonts.googleapis.com/css?family=Merriweather:300" rel="stylesheet">
	<link rel="stylesheet" href="/public/style/main.css">

</head>
<body class="nojs">
	<div class="intro container">
		<h2 class="intro__name animation animation--slide-over">Hello, my name is Diego Hernandez</h2>
		<h1 class="intro__headline animation animation--slide-over animation--delay-1">I code and design to make this world a better place.</h1>
		<nav class="animation animation--slide-over animation--delay-2">
			<ul>
				<li><a href="about/">Learn about me</a></li>
				<li><a href="projects/">See my work</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>
