<%- include('partials/header'); %>
  <div class="intro container">
    <h2 class="intro__name animation animation--slide-over">Hello, my name is <%= name %></h2>
    <h1 class="intro__headline animation animation--slide-over animation--delay-1">I code and design to make this world a better place.</h1>
    <nav class="animation animation--slide-over animation--delay-2">
      <ul>
        <li><a href="about/">Learn about me</a></li>
        <li><a href="projects/">See my work</a></li>
      </ul>
    </nav>
  </div>
<%- include('partials/footer') %>
